<app-calendario></app-calendario>

<button mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">  Previous  </button>
<button mwlCalendarToday  [(viewDate)]="viewDate">  Today  </button>
<button mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">  Next  </button> 

<p>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p>

<div [ngSwitch]="view">
      <mwl-calendar-month-view
      
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="viewDate = $event.day.date; view = 'day'"
      >
      </mwl-calendar-month-view>
  
</div>


<router-outlet></router-outlet>
